.mat-card-simples{
  max-width: 300px;
  background-color: rgb(152, 255, 179);
  margin-top: 10px;
}
.mat-form-principal{
  margin-left: 7px;
}
.custom-card-container {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  height: 30%; 
  padding: 16px;
}
.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  height: 100%;
}
.custom-card mat-card-header .mat-card-title {
  text-align: center;
}

